#important {
	-fx-font-weight: bold;
}

#title {
    -fx-font-weight: bold;
    -fx-font-size: 200%;
}

#vat {
    -fx-font-style: italic;
    -fx-text-fill: #8c8c8c;
}

.itemPanel {
    /*-fx-effect: innershadow(gaussian, black, 10, 1.0, 100, 100);*/
    -fx-border-style: solid;
    -fx-border-width: 1px;
    /*-fx-border-radius: 15px;*/
    -fx-border-color: rgba(0,0,0,0.1);
}

#empty_field.text-field, #empty_field .text-field {
    /*-fx-effect: innershadow(gaussian, black, 10, 1.0, 10, 10);*/

    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-border-color: rgb(175, 175, 175);
    -fx-max-height: 25;
    -fx-pref-height: 25;
    -fx-min-height: 25;
    -fx-background-color: linear-gradient(
            from 0px 0px to 5px 5px,
            repeat,
            rgb(255,255,255),
            rgb(255,255,255),
            rgb(240, 240, 255)
    );
}

#status_google_connected {
    -fx-text-fill: #2F5BB7;
    -fx-graphic: url("/icons/drive_connected_32.png");
}

#status_google_failed {
    -fx-text-fill: #A00000;
    -fx-graphic: url("/icons/drive_error_32.png");
}

#status_google_acting {
    -fx-text-fill: #2F5BB7;
    -fx-graphic: url("/icons/transparent_32.png");
}

#price {
    -fx-text-fill: #A00000;
}

#alternate_panel {
    -fx-background-color: #ffffff;
}

#special_button {
    /*-fx-background-color: #a3a2ff;*/
}

#item_box {
    -fx-text-fill: black;
}

#error {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

#table_empty_cell {
    -fx-text-fill: gray;
}

#hidden_divider *.split-pane-divider {
    -fx-padding: 0 0 0 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

#create_in_progress {
    -fx-background-color: #c78600;
}

#alternate_cell {
    -fx-background-color: rgb(164, 164, 255);
    /*-fx-effect: innershadow(gaussian, white, 10, 2, 0, 0);*/
}

#note_label {
    -fx-font-style: italic;
    -fx-font-weight: lighter;
    -fx-font-size: 7pt;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.google {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
}


.google .label {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.google .button {
    -fx-background-color: #4D90FE, linear-gradient(#4d90fe, #4787ed);

    -fx-border-radius: 1px;
    -fx-border-style: solid;
    -fx-border-color: #3079ED;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 11px;
}

.google .button:hover {
    -fx-border-radius: 1px;
    -fx-border-style: solid;
    -fx-border-color: #2F5BB7;

    -fx-background-color: #357AE8, linear-gradient(#4d90fe, #357ae8);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 11px;
}


.google .button:pressed {
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.3), 2,0,1,2);
}

.google .error_button {
    -fx-background-color: #D14836, linear-gradient(#dd4b39, #d14836);

    -fx-border-radius: 1px;
    -fx-border-style: solid;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 11px;
}

.google .error_button:hover {
    -fx-border-radius: 1px;
    -fx-border-style: solid;
    -fx-border-color: transparent;

    -fx-background-color: #C53727, linear-gradient(#dd4b39, #c53727);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 11px;
}

#customProgressIndicator .percentage {
    -fx-fill: null;
    /*visibility: hidden;*/
}